@use 'sass:map'
:root
    --animationActual: moveAnimation 2s steps(12) forwards
    --animationDelay:1s
$mainColors : ("lightDark":#2d2d2d,"jsYellow":#ffdf00,"cssBlue":#3c99dc,"htmlOrange":#fc7f03, "sassPink":#ce508e)
$bebasNeue:  'Bebas Neue', cursive
$ptSans:  'PT Sans', sans-serif
$robotMono:  'Roboto Mono', monospace
$hexaPath : polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
%flexRowLayout
    display: flex
    justify-content: center
    align-items: center
    flex-flow: row wrap
%flexColumnLayout
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column wrap
*,*::after,*::before
    box-sizing: border-box
body , html
    position: relative
    overflow-x: hidden
    scroll-behavior: smooth
body
    width: 100vw
    min-height: 100vh
    margin:0
    background-color: map.get($mainColors,"lightDark")
    font-family: $ptSans
    overflow-x: hidden


    // GENERAL STYLES
.pageTitle
    position: relative
    font:
        family: $bebasNeue
        size: 3rem
    color: #fff
    letter-spacing: .2rem
    &::before
        content:''
        position: absolute
        left: -.5rem
        display: inline-block
        width: 5px
        height:80%
        background-color: map.get($mainColors, "jsYellow")
.pageSubtitle
    font:
        family: $bebasNeue
        size: 2rem
    color: #fff
    letter-spacing: .2rem
.pageText
    color: #fff
    font:
        family: $ptSans
        size: 1.3rem
/* Page header styles and animations*/


.pageHeader
    width: 100%
    
.pageHeader__top
    @extend %flexRowLayout
    justify-content: flex-start
    &--title
        @extend %flexRowLayout
        position: relative
        width: 10rem
        margin: 1.5rem 
        color: #fff
        font:
            family: $bebasNeue
            size: 2rem
        letter-spacing: .1rem
        &::after
            content: 'J'
            @extend %flexRowLayout
            width: 2rem
            height: 2rem
            background-color: map.get($mainColors,"jsYellow")
            color:#000
            font-size:.7em
            clip-path: $hexaPath
        &::before
            content: ''
            position: absolute
            bottom: 0 
            width:90%
            height: 3px
            background-color: map.get($mainColors,"jsYellow")
    &--lang
        display: inline-block
        &__icon
            width:2rem
            cursor: pointer
            margin: .3rem
            transition: transform .2s
            &:hover
                    transform: scale(.8)
.pageHeader__bottom
    @extend %flexRowLayout
    width:100%
    margin-top:2.5rem
    padding:1rem
    &--image
        width: 20rem
    &--animateWrapper
        width: max(30% , 30rem)
        overflow: hidden
        text-align: center
        &__title
            position: relative
            display: inline
            overflow-wrap: normal
            font:
                family:$robotMono
                size:2rem
            color:#fff
            &::after
                content:''
                position: absolute
                left: 0 
                display: inline-block
                width:100%
                height:100%
                border-left:5px solid #fff
                background-color: map-get($mainColors,"lightDark")
                animation: var(--animationActual)
                animation-delay: var(--animationDelay)

%ulWrapper
    @extend %flexRowLayout
    width: 100%
    gap:2rem
    padding:0
.pageHeader__nav
    @extend %flexColumnLayout
    position: relative
    width: 100%
    &--wrapper1
        @extend %ulWrapper
        justify-content: space-evenly
    &--wrapper2
        @extend %ulWrapper
        justify-content: center
 
.pageHeader__nav--ul__li
    position: relative
    width: 18rem
    height: 18rem
    margin:0
    background-color: map.get($mainColors,"htmlOrange")
    clip-path: $hexaPath
    transform: translateZ(0)
    list-style: none
    font:
        family: $bebasNeue
        size: 2em
    cursor: pointer
    &:hover
        transform: scale(.9)
        opacity: .8
    & a
        @extend %flexColumnLayout
        position: absolute
        top: 5px
        left: 5px
        width: calc(100% - 10px)
        height: calc(100% - 10px)
        clip-path: $hexaPath
        transform: translateZ(0)
        text-decoration: none
        background-color: #4f4e4e
        color: #fff 
        transition:  background-color .5s
        &:hover
            background-color: map.get($mainColors, "jsYellow")
.pageHeader__nav--ul__li--img
    width:30%



[data-animation="left"]
    transform: translateX(-50%) 
    opacity: 0
    transition: transform .5s , opacity .5s
[data-animation="right"]
    transform: translateX(50%)
    opacity: 0 
    transition: transform .5s , opacity .5s
.isVisible
    transform: translateX(0) 
    opacity: 1
                   
@keyframes blink
    from
        opacity:1
    to
        opacity:.1
            
@keyframes moveAnimation
    0%
        transfrom: translateX(0)
    50% 
        transform: translateX(100%)
    100%
        transform: translateX(0)
@media screen and (min-width:768px)
    .pageHeader__top
        padding-left:6rem
    .pageHeader__bottom--animateWrapper__title
        font-size:3rem



    // Page main styles

.pageMainContent
    width:100%
    margin-top: 5rem
    &__about
        width: 100%
        @extend %flexColumnLayout
        margin-bottom: 5rem
        &--wrapper
            @extend %flexRowLayout
            gap: 2rem
            width: 100%
            &__imageWrapper
                position: relative
                width:20rem
                height:20rem
                margin: 1rem
                background-color: map.get($mainColors,"jsYellow")
                clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%)
                &--img
                    position: absolute
                    top:5px
                    left: 5px
                    width: calc(100% - 10px)
                    height: calc(100% - 10px)
                    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%)
            &__content
                width: max(30%,20rem)
                margin:.2rem 1rem
                text-align: center

%barLayout
    content:""
    position: absolute
    top: 0 
    left: 0
    display: inline-block
    height:100%
    border-radius: 30px
.html::after
    @extend %barLayout
    width: 90%
    background-color: map.get($mainColors,"htmlOrange")
.css::after
    @extend %barLayout
    width: 70%
    background-color: map.get($mainColors,"cssBlue")
.js::after
    @extend %barLayout
    width: 50%
    background-color: map.get($mainColors,"jsYellow")
.sass::after
    @extend %barLayout
    width: 10%
    background-color: map.get($mainColors,"sassPink") 


.pageMainContent__abilities
    @extend %flexColumnLayout
    width:100%
    &--skill
        @extend %flexRowLayout
        width: 100%
        margin:2rem 0
        &__logo
            width: max(30%,20rem)
            text-align: center
            &--image
                width: 15rem
        &__graph
            @extend %flexColumnLayout
            width: max(60%,15rem)
            &--bar
                position: relative
                width: 100%
                height: 3rem
                border-radius: 30px
                background-color: #fff
                overflow: hidden


    // CONTACT FORM STYLES
fieldset
    border: none
@mixin flex($direction,$wrap,$justify,$align)
    display: flex
    flex-flow: $direction $wrap
    justify-content: $justify
    align-items: $align

.contact
    @include flex(column,wrap,space-around,center)
    width: 100%
    margin-bottom:10rem
.contact__form
    @include flex(column,wrap,space-around,center)
    font-family: sans-serif
    font-weight: bold
    gap:1rem
    width: min(100%,50rem)
    &--field
        width: 80%
        padding:.7rem 1.4rem
        outline: none
        font-family: sans-serif
        font-weight: bold
        border-radius:10px
        border: none
        box-shadow: 0 15px 50px rgba( 255 223 0 /.2)
    &--textArea
        width: 80%
        height:15rem
        resize: none
        font-family: sans-serif
        font-weight: bold
        border-radius:10px
        border: none
        box-shadow: 0 15px 50px rgba( 255 223 0 /.2)
        padding:1rem
        outline: none
.form__label
    color:#fff
    align-self: flex-start
    margin-left:10%
    order:-1
.contact__form--field[required]:invalid
    border:2px solid red
.contact__form--field[required]:invalid ~ .form__label
    color: red
.contact__form--field[required]:valid
    border:2px solid lime
.contact__form--field[required]:valid ~ .form__label
    color: lime
.contact__form--wr
    @include flex(column,wrap,center,center)
    gap:.3rem
    width: 100%
.form__submit
    border: none
    background-color: map.get($mainColors,'jsYellow')
    font-family: $bebasNeue
    font-size:1.2em
    padding:.7rem 1.4rem
    border-radius: 10px
    text-transform: uppercase
    align-self: flex-end
    margin-right:10%
    cursor: pointer
    &:hover
        opacity:.8
.inputFieldWrong
    width:80%
    background-color: red
    padding: calc(1rem + 10px) 2rem 1rem
    text-transform: uppercase
    color:#fff
    border-radius:10px
    margin-top:-20px
    z-index:-1